$font-heading: "Fraunces", "Arial", sans-serif;
$font-body: "Barlow", "Arial", sans-serif;
$grey: #83888f;
$dark-grey: #333d4b;
$dark-cyan: #0e8784;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$transition: 0.25s ease;
$tablet: 768px;
$desktop: 1200px;
$desktop-1: 1440px;
$mobile: 425px;
$color-green: #5FD788;
$color-kul: #9CA3AF;
$color-oq: #FFFFFF;
$color-oq2: #F3F4F6;
$color-kul2: #1F2937;
