.green_img .container {
    display: flex;
    // position: relative;
    // z-index: -1;
    margin-bottom: 200px;
    max-width: $desktop-1;
    max-height: 802px;
}

.hero_jampd { 
    width: 794px;
    height: 515px;
    background-color: $color-green;
    background-image: url("/images/png/Texture_2_.png");
    background-repeat: no-repeat;
}

.hero__innerd {
    width: 652px;
    height: 515px;
}

.hero__headingd {
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 119.4%;
    letter-spacing: 0.01em;
    color: $color-oq;
    width: 523px;
    height: 229px;
    margin: 80px 100px;
}

@media only screen and(max-width: $tablet) {
    .green_img .container {
        max-width: $tablet;
        margin-top: 850px;

        .hero_jampd {
            width: 541px;
            height: 515px;
        }

        .hero__innerd {
            background-image: url(/images/png/Image\ \(1\).png);
            background-repeat: no-repeat;
            width: 302px;
            height: 515px;
            img {
               width: 0px;
               height: 0px;
               
            }
        }
    }
    

    .button__d {
        margin-left: 20px;
    }

    .hero__headingd {
        margin: 50px 20px;
        width: 356px;
        height: 229px;
        font-family: 'SF Pro Rounded';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 119.4%;
        letter-spacing: 0.01em;
        color: $color-oq;
    }

    .hero__text {
        max-width: 398px;
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and(max-width: $mobile) {
    .green_img .container {
        max-width: $mobile;
        top: 250px;
        margin-bottom: 400px;

        .hero_jampd {
            width: 376px;
            height: 515px;
            background: url(/images/png/Image.svg);
            filter: blur(0.5px);
        }

        .hero__innerd {
            width: 0px;
            height: 0px;
        }
    }
}