.footer .container {
    margin-bottom: 88px;
    max-width: $desktop-1;
}

.footer__inner {
    display: flex;
    align-items: center;
    padding: 10px 85px;
    background: $color-oq2;
    border: 0.5px solid $color-oq2;
    height: 228px;
}

.footer__logo {
    margin-right: 300px;
    margin-bottom: 150px;
}

.nav__ul-list {
    margin: 0;
    display: flex;
    width: 493px;
    gap: 50px;
    margin-bottom: 50px;
}

.nav_p {
    margin: 10px 0px;
    p {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        text-align: center;
        color: $color-kul;
        margin: 0px;
    }
}

.footer .nav {
    margin-right: 0;
    .comyright {
        width: 130px;
        height: 32px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        text-align: center;
        color: $color-kul;
        margin: 0px 130px 0px;
    }
}

.nav__a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135%;
    color: $color-green;
    width: 98px;
    height: 15px;
    &:hover {
        color:  aqua;
    }
}

.nav__ad {
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135%;
    color: $color-green;
    width: 98px;
    height: 15px;
    margin-left: 40px;
    &:hover {
        color: aqua;
    }

    &--active {
        color: rgb(118, 182, 0);
    }
}

.nav__as {
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135%;
    color: $color-green;
    width: 98px;
    height: 15px;
    margin-left: 25px;
    &:hover {
        color: aqua;
    }

    &--active {
        color: rgb(118, 182, 0);
    }
}

@media only screen and(max-width:1050px) {
    .footer__inner {
        justify-content: space-between;
    }

    .footer__logo {
        margin-right: 0;
    }

    .footer .nav {
        margin-right: 0;
    }
}

@media only screen and(max-width:950px) {
    .footer__inner {
        padding: 47px 30px;
    }

    .footer .nav__item + .nav__item {
        margin-left: 16px;
    }
}

@media only screen and(max-width: $tablet) {
    .footer .container {
        // margin-bottom: 72px;
        max-width: $tablet;
        margin-top: 500px;

        .comyright {
            justify-content: center;
            margin-left: 20px;
            margin-right: 0px;
            width: 150px;
        }
    }

    .footer__inner {
        width: 768px;
        height: 469px;
    }

    .nav__ul-list {
        flex-direction: column;
        gap: 10px;
    }

    .footer__logo {
        margin-bottom: 370px;
    }

    .nav__as {
        margin-left: 70px;
    }

    .nav__ad {
        margin-left: 50px;
    }

    .nav__a {
        margin-left: 50px;
    }

    .nav_p {
        p {
            width: 191px;
        }
    }
}

@media only screen and(max-width: $mobile) {
    .footer .container {
        max-width: $mobile;
    }

    .footer__logo {
        margin-left: 40px;
    }

    .footer__inner {
        padding: 25px 30px;
        position: relative;
        flex-direction: column;
        width: 376px;
        height: 510px;
    }

    .nav__ul-list {
        position: absolute;
        bottom: 30px;
    }
}
